<div id="right" style="width: 100%">
  <div class="pictureList">
    <div class="pictureList__col-sizer"></div>
    <div class="pictureList__gutter-sizer"></div>
  </div>

  <div class="page-load-status" id="pictureStatus">
    <p class="infinite-scroll-request">正在准备内容</p>
    <p class="infinite-scroll-last">没有更多内容了</p>
    <p class="infinite-scroll-error">不能再加载了</p>
  </div>
  <style>
    /* FIXME: set to 46.8% to make it fit the page */
    #right .pictureCard {
      width: 46.8%;
    }
  </style>
</div>
