:root {
    --main-color: #eeffee;
    --header-text-color : #63E886;
    --accent-color: #1e9f40;
    --homepage-background-color: #f8fef9;
    --radius: 8px;
    --cubic-bezier: 0, 0.88, 0, 0.97; 
}