html body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#header {
    background-color: var(--main-color);
    height: 2.63rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.06);
}

#headerTitle {
    color: var(--header-text-color);
    font-size: 1.48rem;
    margin-right: 0.3rem;
}

#headerLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    #headerLeft {
        margin-left: 19px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 70.7rem;
    width: 100%;
    height: 100%;
}

#tab {
    font-size: 1.3rem;
    margin-left: 0.9rem;
    color: var(--header-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#tab a:link,
#tab a:visited {
    color: var(--header-text-color);
    text-decoration: none;
    margin: 0 5px 0 5px;
}

.active {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: none;
}

.actived:link,
.actived:visited {
    font-weight: bold;
}

.actived div {
    position: relative;
    color: var(--accent-color);
}

.actived div::after {
    background: var(--accent-color);
    border-radius: 4px;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    display: block;
}

#Pages {
    width: 100%;
    height: calc(100% - 2.63rem);
    position: relative;
    overflow: auto;
    max-width: 70.7rem;
    left: 50%;
    transform: translateX(-50%);
}

@-webkit-keyframes switchPage {
    0% {
        opacity: 0%;
        transform: scale(95%);
    }
    100% {
        opacity: 100%;
        transform: scale(100%);
    }
}

@keyframes switchPage {
    0% {
        opacity: 0%;
        transform: scale(95%, 75%);
    }
    100% {
        opacity: 100%;
        transform: scale(100%, 100%);
    }
}

.page {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    overflow: auto;
}

:target {
    -webkit-animation: switchPage 0.17s cubic-bezier(var(--cubic-bezier)) 0.1s 1
        forwards;
    animation: switchPage 0.17s cubic-bezier(var(--cubic-bezier)) 0.1s 1 forwards;
    z-index: 2;
}

#homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#homepage > div {
    width: 50%;
    padding-top: 1.1rem;
}

#homepage > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-right: 1rem;
    padding-left: 1rem;
    background: linear-gradient(
        95deg,
        rgba(0, 0, 0, 0) 79.89%,
        var(--homepage-background-color) 80.15%
    );
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0.7turn) scale(-0.8, 0.8);
        background-color: #000000;
        box-shadow: 2px 70px 10px #ff0000;
    }
    100% {
        transform: rotate(2turn) scale(0.8, -0.8);
        background-color: #f2b1d5;
        box-shadow: 2px 2px 12px #00ffff;
    }
}

#homepage > div:nth-of-type(1) > img {
    border-radius: 100%;
    width: 70px;
    height: 10px;
    -webkit-animation: linear 1s infinite alternate rotate;
    animation: linear 1s infinite alternate rotate;
}

#homepage > div:nth-of-type(2) {
    display: flex;
    justify-content: left;
    padding-left: 1rem;
    background-color: var(--homepage-background-color);
}

.banner {
    width: 100%;
    height: 50%;
    background-image: url("./样例.png");
    background-size: cover;
    background-position: center;
    border-radius: var(--radius);
    position: relative;
}

.banner > div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 65%,
        rgba(51, 137, 63, 0.44)
    );
    border-radius: 0 0 var(--radius) var(--radius);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
}

#bannerButton {
    margin: 0 1.5rem 1rem 0;
    background: rgba(25, 25, 25, 0.48);
    border: 0 solid rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 0.95rem 1.4rem 1rem 1.4rem;
    font-size: 1.2rem;
    line-height: 1em;
    transition: 3s cubic-bezier(var(--cubic-bezier));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#bannerButton > img {
    transform: rotate(180deg);
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}

#bannerButton > span {
    display: inline-block;
    vertical-align: middle;
}

#bannerButton:hover {
    background-color: rgba(0, 0, 0, 0.80);
}

.videoList {
    max-width: 50rem;
    margin: 0 auto;
}

.videoSizer,
.videoCard {
    width: 18%;
}

.videoCard {
    border: 0.1rem solid var(--header-text-color);
    background-color: var(--header-text-color);
    border-radius: var(--radius);
    /* position: relative; */
    display: block;
    margin: 0.3rem;
}

.videoCard > img {
    width: 100%;
    border-radius: var(--radius);
    vertical-align: bottom;
}

.videoCard > div {
    /* position: absolute;
    bottom: 0;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7)
    ); */
    color: white;
    width: 100%;
    border-radius: 0 0 var(--radius) var(--radius);
}

.videoCard:link,
.videoCard:visited {
    text-decoration: none;
}

.videoCard > div > div {
    padding-left: 0.2rem;
}

.videoCard > div > div:nth-of-type(1) {
    font-size: 1.2rem;
}

.videoCard > div > div:nth-of-type(2) {
    font-size: 0.8rem;
}
