:root {
    --headerHeight: 2.63rem;
}

@media screen and (max-width: 35rem) {
    :root {
        --headerHeight: 4rem;
    }
}

html body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-width: none !important;
}

@media screen and (max-width: 35rem) {
html body {
height: calc(92.5vh - 0.1px);
}
}


* {
    transition: 0.5s cubic-bezier(var(--cubic-bezier));
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* 对不起🧎‍♀️ 不应该这么写的 */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

dialog {
    /* margin: 0 auto; */
    border-radius: 0;
    width: 100%;
}

@media screen and (min-width: 29rem) {
    dialog {
        width: 100%;
        max-width: 27rem;
        border-radius: var(--radius);
    }
}

dialog::-webkit-scrollbar {
    width: 8px;
}

.img {
    width: 100%;
    max-width: 10rem;
    display: block;
    margin: 0 auto;
}

#header {
    background-color: var(--main-color);
    height: var(--headerHeight);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.06);
}

#headerTitle {
    color: var(--header-text-color);
    font-size: 1.48rem;
    margin-right: 0.3rem;
}

@media screen and (max-width: 35rem) {
    #headerTitle {
        display: none;
    }
}

#headerLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-left: 0.9rem;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 70.7rem;
    width: 100%;
    height: 100%;
}

#tab {
    font-size: 1.3rem;
    margin-left: 0.9rem;
    color: var(--header-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 35rem) {
    #tab {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 22rem) {
    #tab {
        font-size: 1.1rem;
    }
}

#tab a:link,
#tab a:visited {
    color: var(--header-text-color);
    text-decoration: none;
    margin: 0 5px 0 5px;
}

#settings {
    margin: 0;
    border-radius: 0;
    transition: 1s cubic-bezier(var(--cubic-bezier));
    background-color: var(--accent-color);
    color: var(--background-body);
}

#settings:active {
    transform: scale(90%);
    background-color: var(--header-text-color);
}

@media screen and (max-width: 35rem) {
    #headerRight {
        margin-right: 1rem;
    }
    #settings > span {
        display: none;
    }
}

@media screen and (max-width: 22rem) {
    #settings {
        padding: 0.6rem;
    }
}

.active {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: none;
}

.actived:link,
.actived:visited {
    font-weight: bold;
}

.actived div {
    position: relative;
    color: var(--accent-color);
}

.actived div::after {
    background: var(--accent-color);
    border-radius: 4px;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    display: block;
}

#Pages {
    width: 100%;
    height: calc(100% - var(--headerHeight));
    position: relative;
    overflow: auto;
    max-width: 70.7rem;
    left: 50%;
    transform: translateX(-50%);
}

@-webkit-keyframes switchPage {
    0% {
        opacity: 0%;
        transform: scale(95%);
    }
    100% {
        opacity: 100%;
        transform: scale(100%);
    }
}

@keyframes switchPage {
    0% {
        opacity: 0%;
        transform: scale(95%, 75%);
    }
    100% {
        opacity: 100%;
        transform: scale(100%, 100%);
    }
}

.page {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    overflow: auto;
}

.page:nth-of-type(2)::-webkit-scrollbar,
.page:nth-of-type(3)::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

:target {
    -webkit-animation: switchPage 0.17s cubic-bezier(var(--cubic-bezier)) 0.1s 1
        forwards;
    animation: switchPage 0.17s cubic-bezier(var(--cubic-bezier)) 0.1s 1
        forwards;
    z-index: 2;
}

#homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

@media screen and (max-width: 35rem) {
    #homepage {
        display: block;
    }
}

#homepage > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-right: 1rem;
    padding-left: 1rem;
    background: linear-gradient(
        95deg,
        rgba(0, 0, 0, 0) 79.89%,
        var(--homepage-background-color) 80.15%
    );
    width: 50%;
    padding-top: 1.1rem;
}

@media screen and (max-width: 35rem) {
    #homepage > div:nth-of-type(1) {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

#homepage > div:nth-of-type(2) {
    display: flex;
    justify-content: left;
    padding-left: 1rem;
    background-color: var(--homepage-background-color);
    width: 50%;
}

#homepage > div:nth-of-type(2) > iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media screen and (max-width: 35rem) {
    #homepage > div:nth-of-type(2) {
        display: none;
        width: 100%;
        height: 100%;
    }
}

.websiteNameForMobile {
    display: none;
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
    color: var(--header-text-color);
}

@media screen and (max-width: 35rem) {
    .websiteNameForMobile {
        display: block;
    }
}

.banner {
    width: 100%;
    height: 50%;
    background-image: url("/example/example.png");
    background-size: cover;
    background-position: center;
    border-radius: var(--radius);
    position: relative;
}

@media screen and (max-width: 35rem) {
    .banner {
        height: 35%;
        border-radius: 0;
    }
}

.banner > div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 65%,
        rgba(51, 137, 63, 0.44)
    );
    border-radius: 0 0 var(--radius) var(--radius);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
}

@media screen and (max-width: 35rem) {
    .banner > div {
        border-radius: 0;
    }
}

.bannerButton {
    margin: 0 1.5rem 1rem 0;
    background: rgba(25, 25, 25, 0.48);
    border: 0 solid rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 0.95rem 1.4rem 1rem 1.4rem;
    font-size: 1.2rem;
    line-height: 1em;
    transition: 3s cubic-bezier(var(--cubic-bezier));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.bannerButton > span {
    display: inline-block;
    vertical-align: middle;
}

.bannerButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.videoList,
.pictureList {
    max-width: 50rem;
    margin: 0 auto;
}

.videoList__col-sizer,
.videoCard,
.pictureList__col-sizer,
.pictureCard {
    width: 22%;
}

@media screen and (max-width: 43rem) {
    .videoList__col-sizer,
    .videoCard,
    .pictureList__col-sizer,
    .pictureCard {
        width: 46.8%;
    }
}

.videoList__gutter-sizer,
.pictureList__gutter-sizer {
    width: 3%;
}

.videoCard,
.pictureCard {
    border: 0.1rem solid var(--header-text-color);
    background-color: var(--header-text-color);
    border-radius: var(--radius);
    /* position: relative; */
    display: block;
    margin: 1%;
    transition: 0.3s cubic-bezier(var(--cubic-bezier));
    opacity: 85%;
}

.videoCard:hover,
.pictureCard:hover {
    transform: scale(102%);
    opacity: 100%;
}

.videoCard:active,
.pictureCard:active {
    transform: scale(99%);
}

@media (prefers-color-scheme: dark) {
    .videoCard,
    .pictureCard {
        opacity: 80%;
    }
    .videoCard:hover,
    .pictureCard:hover {
        opacity: 100%;
    }
}

.videoCard > img,
.pictureCard > img {
    width: 100%;
    border-radius: var(--radius);
    vertical-align: bottom;
    -webkit-user-drag: none;
        -o-object-fit: cover;
       object-fit: cover; /* 使图片不拉伸 */
}

.videoCard > img {
    aspect-ratio: 16/10; /* 使用这个属性保持一个图片的宽高比 改善 cls */
}

.pictureCard > img {
    max-height: 86vh;
}

.videoCard > div,
.pictureCard > div {
    color: white;
    width: 100%;
    border-radius: 0 0 var(--radius) var(--radius);
}

.videoCard:link,
.videoCard:visited,
.pictureCard:link,
.pictureCard:visited {
    text-decoration: none !important;
}

.videoCard > div > div,
.pictureCard > div > div {
    padding-left: 0.2rem;
}

.videoCard > div > div:nth-of-type(1),
.pictureCard > div > div:nth-of-type(1) {
    font-size: 1.2rem;
}

.videoCard > div > div:nth-of-type(2),
.pictureCard > div > div:nth-of-type(2) {
    font-size: 0.8rem;
}

.page-load-status {
    display: none; /* 使其默认隐藏 */
    padding-top: 20px;
    border-top: 1px solid var(--header-text-color);
    text-align: center;
    color: var(--header-text-color);
}

.view-more-button {
    font-size: 2rem;
    border: 0.1rem solid var(--accent-color);
    background-color: var(--button-base);
    margin: 1rem auto;
}

.tips {
    font-size: 0.5rem;
    color: var(--accent-color);
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: var(--radius);
    pointer-events: none;
    text-align: center;
}

.tips::before {
    content: "ⓘ ";
}

.option {
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
    font-size: 0.7rem;
}

@-webkit-keyframes hide {
    0% {
        opacity: 100%;
        pointer-events: initial;
    }

    100% {
        opacity: 0%;
        pointer-events: none;
    }
}

@keyframes hide {
    0% {
        opacity: 100%;
        pointer-events: initial;
    }

    100% {
        opacity: 0%;
        pointer-events: none;
    }
}

.mask {
    position: absolute;
    background-color: var(--background-body);
    width: 100%;
    height: 100%;
    transition: 1s cubic-bezier(var(--cubic-bezier));
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main);
    font-size: 1rem;
    z-index: 10;
}

.mask_DONT_Hide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s cubic-bezier(var(--cubic-bezier));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 10;
}

.hide {
    transition: 1s cubic-bezier(var(--cubic-bezier));
    -webkit-animation: hide 1s cubic-bezier(var(--cubic-bezier)) 0.3s 1
        forwards;
    animation: hide 1s cubic-bezier(var(--cubic-bezier)) 0.3s 1 forwards;
}

@-webkit-keyframes flash {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes flash {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.flash {
    -webkit-animation: cubic-bezier(var(--cubic-bezier)) 3s infinite alternate
        flash;
    animation: cubic-bezier(var(--cubic-bezier)) 3s infinite alternate flash;
}

.FirstTime {
    width: 100%;
    max-width: 22rem;
    padding: 1rem;
    position: absolute;
    z-index: 13;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.7);
    top: var(--headerHeight);
    border-radius: var(--radius);
    text-align: center;
    border: 0.1rem solid var(--highlight);
    margin: 1rem;
    display: none;
    cursor: pointer;
}

.FirstTime .tips {
    color: var(--highlight);
}

.FirstTime > span {
    opacity: 85%;
}

.show {
    display: block;
}